<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="LiteDb" connectionString="filename=|DataDirectory|\BookDb.db" />
    <add name="MsSqlDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BookDb.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <autofac>
    <components>
              <!--type="Demos.DistrictQuery.MsSqlRepository.ProvinceRepository, Demos.DistrictQuery.MsSqlRepository"-->
      <component type="Demos.DistrictQuery.LiteDbRepository.ProvinceRepository, Demos.DistrictQuery.LiteDbRepository" service="Demos.DistrictQuery.IRepository.IProvinceRepository, Demos.DistrictQuery.IRepository" />
      <component type="Demos.DistrictQuery.LiteDbRepository.CityRepository, Demos.DistrictQuery.LiteDbRepository" service="Demos.DistrictQuery.IRepository.ICityRepository, Demos.DistrictQuery.IRepository" />
      <!--<component type="Demos.DistrictQuery.LiteDbRepository.DistrictRepository, Demos.DistrictQuery.LiteDbRepository"
                 service="Demos.DistrictQuery.IRepository.IDistrictRepository, Demos.DistrictQuery.IRepository"
                 />-->

    </components>
  </autofac>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
